@import "../../../styles/global-colors";
@import "../../../styles/global-fonts";

.add-discount {
  &--container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 5%;
    color: $color-5;
  }

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &--content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &--content * {
    font-family: $secondary-font;
  }
}
