@import "../../../styles/global-colors";
@import "../../../styles/global-fonts";

.avatar {
  &--container {
    font-size: 2rem;
    font-family: $secondary-font;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: $color-5;
    color: $color-white;
    cursor: pointer;
  }
}
