@import "../../styles/global-colors";
@import "../../styles/global-fonts";

.order-card {
  &--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $color-7;
    padding: 1% 2%;
    margin-bottom: 1rem;
    text-align: start;
  }

  &--number {
    font-weight: bold;
  }
}
