@import "../../styles/global-colors";
@import "../../styles/global-fonts";

.add-product {
  &--container {
    padding: 3% 5%;
  }

  &--section-text {
    display: flex;
    padding: 2% 0%;
    font-size: 1.5rem;
    color: $color-5;
    align-items: center;
  }

  &--section-text::after {
    content: "";
    flex: 1;
    border-bottom: 0.1rem solid $color-2;
    margin-left: 1rem;
  }

  &--field {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 40%;
  }

  &--field-song {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  &--field-song * {
    margin-right: 1rem;
  }

  &--label {
    margin-right: 3rem;
  }

  &--label-song {
    margin-right: 1rem;
  }

  &--input {
    padding: 3% 0;
    color: $color-4;
  }

  &--textarea {
    resize: none;
    color: $color-4;
    font-family: $secondary-font;
    border: 1px solid $color-7;
  }

  &--textarea:focus {
    outline: none;
    border: 1px solid $color-5;
  }

  &--link {
    text-decoration: underline;
    cursor: pointer;
  }

  &--buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 2px solid $color-2;
  }
}

.clasa1 {
  animation: cart 0.7s forwards;
}

.clasa2 {
  height: 2.5rem;
  width: auto;
  padding: 1% 3%;
}
