@import "../../../styles/global-colors";

.report-card {
  &--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--title {
    margin-left: 2%;
  }

  &--resolved {
    color: $color-green;
  }
}
