$color-white: #ffffff;
$color-1: #eaeeef;
$color-2: #e4e3e2;
$color-3: #757575;
$color-4: #555555;
$color-5: #202020;
$color-6: #ced1d2;
$color-7: #c9c8c6;
$color-black: #000000;
$color-red: #ad2e2e;
$color-green: #4ca94c;
