@import "../../../styles/global-colors";

button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu-option {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 1rem;
}

.menu-icon {
  height: 2rem;
  width: 2rem;
  margin: 1rem;
}

.icon-container {
  display: flex;
}

.btn-primary-style {
  background-color: $color-5;
  border: 1px solid $color-5;
  color: $color-white;
  font-size: 1rem;
  width: 100%;
  padding: 5% 0%;
  transition: 0.3s;
  cursor: pointer;
}

.btn-primary-style:hover {
  background-color: $color-white;
  color: $color-5;
}

.btn-primary-style:disabled {
  background-color: $color-4;
  border-color: $color-4;
  color: $color-white;
}

.btn-secondary-style {
  background-color: $color-white;
  border: 1px solid $color-2;
  color: $color-5;
  font-size: 1rem;
  width: 100%;
  padding: 3% 0%;
  transition: 0.3s;
  cursor: pointer;
}

.btn-secondary-style:hover {
  border: 1px solid $color-5;
}

.btn-tertiary-style {
  background-color: $color-white;
  border: 1px solid $color-5;
  color: $color-5;
  font-size: 1rem;
  width: 100%;
  padding: 3% 0%;
  transition: 0.3s;
  cursor: pointer;
}

.btn-tertiary-style:hover {
  background-color: $color-5;
  color: $color-white;
}

.review--buttons {
  background-color: transparent;
  border: none;
  height: 1.7rem;
  padding: auto;
  display: flex;
  transition: 0.3s;
  border-radius: 50%;
}

.review--buttons:hover {
  background-color: $color-2;
}

.review--icon-buttons {
  height: 80%;
}
