@import "../../../styles/global-colors";
@import "../../../styles/global-fonts";

.view-report {
  &--header {
    gap: 1rem;
    padding: 5%;
    color: $color-5;
    display: flex;
    justify-content: space-between;
  }

  &--content {
    padding: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &--spinner {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
  }

  &--footer {
    background-color: $color-2;
    color: $color-4;
    padding: 3% 5%;
  }

  &--warning {
    font-family: $secondary-font;
  }

  &--btn-container {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
  }
}
